@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url(/styles/normalize.css);
/* @font-face {
    font-family: Nerko;
    src: url(https://fonts.googleapis.com/css2?family=Nerko+One&display=swap);
} */


:root {
    --clr-bg: #f0eddc;
    --clr-black: #000;
    --clr-main: #ff951b;
    --clr-main-transparent: #ff951b2c;

    --fw-regular: 400;
    --fw-medium: 600;
    --fw-bold: 700;

    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-parg: 1.5rem;
    --fs-Font-size: 1rem;
}

html {
    scroll-behavior: smooth;
}

* {
    line-height: calc(1em + .5rem);
}

body {
    font-size: var(--fs-Font-size);
    background-color: var(--clr-bg);
    font-family: "nerko one", Arial, Helvetica, sans-serif;
    color: var(--clr-black);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

.link {
    text-decoration: none;
    color: var(--clr-black);
}

.li {
    list-style: none;
}

.btn {
    border: none;
    background: transparent;
}

/* Header */

.header-container {
    /* position: fixed;
    width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
    display: flex;
    margin: 10px;
    border-radius: 15px;
    background-color: var(--clr-main-transparent);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 2rem;
}

.logo {
    padding: 1rem;
}

.navigator {
    display: flex;
    width: 60%;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.nav-item {
    text-transform: uppercase;
    color: var(--clr-main);
}

.nav-item:hover {
    text-shadow: 1px 1px 1px #fa941f;
}

.links-list {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discord {
    color: var(--clr-main);
    width: 70%;
}

.discord:hover {
    transform: translate(.2rem, -.2rem);
    opacity: .8;
}

/* Main section */

.main-section {
    position: relative;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nemo-name {
    width: 60%;
    display: flex;
    gap: 0;
}

.nemo-name-bg-img {
    position: absolute;
    z-index: -1;
    width: 35%;
}

/* About nemo section */

.about-nemo-section {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.section-title {
    text-align: center;
    font-size: var(--fs-h1);
    color: var(--clr-main);
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
}

.card-image {
    width: 35%;
    rotate: 5deg;
    box-shadow: 3px 3px 30px black;
}

.card-text {
    width: 40%;
    text-align: center;
}

.card-title {
    text-transform: uppercase;
    color: var(--clr-main);
    font-size: var(--fs-h2);
}

.card-parg {
    text-transform: capitalize;
    color: var(--clr-black);
    font-size: var(--fs-parg);
}

/* Nemo's childhood */

@keyframes appear {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}

.nemo-childhood-section {
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.childhood-content,
.hover-appear {
    display: none;
    transition: all 0.3s ease;
    animation-name: appear;
    animation-duration: 1s;
}

.nemo-childhood-title {
    font-size: var(--fs-h2);
    transition: all 0.3s ease;
    width: 35vw;
}

.cat-img-hover {
    position: absolute;
    transition: all 0.3s ease;
    width: 20vw;
    box-shadow: 3px 3px 10px #000;
}

.kitty1,
.kitty3 {
    rotate: 10deg;
}

.kitty2,
.kitty4 {
    rotate: -10deg;
}

.kitty1 {
    top: 6%;
    left: 5%;
}

.kitty2 {
    top: 6%;
    right: 5%;

}

.kitty3 {
    bottom: 6%;
    left: 15%;
}

.kitty4 {
    bottom: 6%;
    right: 15%;
}

.hover-item {
    width: 50%;
    height: 50%;
    position: relative;
    transition: all 0.3s ease;
    width: 20%;
}

.text-hover {
    text-align: center;
    font-size: var(--fs-h2);
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.hover-img {
    transition: all 0.3s ease;
}

.hover-item:hover>.hover-img {
    width: 0px;
}

.hover-item:hover>.text-hover {
    font-size: 0px;
}

.hover-item:hover {
    position: absolute;
    z-index: 2;
}


.hover-item:hover+.childhood-content {
    display: block;
    opacity: 1;
}

/* fun fact */

.fun-fact-section {
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 200px;
}

.gay-cat1,
.gay-cat3,
.gay-cat5 {
    rotate: 10deg;
}

.gay-cat2,
.gay-cat4 {
    rotate: -10deg;
}

.gay-cat1 {
    top: 140px;
    left: 80px;
}

.gay-cat2 {
    bottom: -30px;
}

.gay-cat3 {
    bottom: 0;
    right: 120px;
}

.gay-cat4 {
    top: 0;
    right: 80px;
}

.gay-cat5 {
    top: -100px;
    right: 500px;
}

/* Sensitive content */

.sensitive-content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.warning-hover {
    font-size: var(--fs-h2);
    text-shadow: 3px 3px 5px black;
}

.warning-text {
    font-size: var(--fs-parg);
    text-shadow: 3px 3px 5px black;
    color: red;
}

.sensitive-img-container {
    margin-top: 50px;
    rotate: -10deg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 10px black;
}

.phone-frame {
    width: 240px;
    height: 400px;
    border-radius: 20px;
}

.cat-face {
    width: 220px;
    height: 580px;
    position: absolute;
    filter: blur(100px);
    transition: all .3s ease;
    overflow: hidden;
    border-radius: 50px;
    z-index: -1;
}

.phone-frame:hover + .cat-face {
    filter: blur(0);
}



